<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        html,
        body,
        #app {
            height: 100%;
        }
        
        body {
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(30, 101, 190, 1) 30%, rgba(91, 127, 220, 0.8) 60%, rgba(126, 148, 226, 0.4) 85%, rgba(171, 91, 220, 0.2) 100%) fixed;
        }
    </style>
</head>

<body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>