<template>
   
    <div class="introPage"> 
        <transition>
        <div class="title"  v-if="check1">
        <div class="box1">
            <img src="../../assets/logo1.png" class="icon">
            <div class="pro_name">
                <h1>项目名称</h1>
                <h5>xiangmumingcheng</h5>
            </div>
        </div>
        <div class="nav">
            <ul>
                <li><a href="index.html">进入主页</a></li>
                <li><a href="#" @click="godown">项目介绍</a></li>
                <li><a href="myLogin.html">个人登录</a></li>
                <li><a href="deviceActive.html">设备激活</a></li>
                
            </ul>
        </div>
        </div>
        </transition>
        <div class="show_Picture">
            <div :class="{group0:t1,basic:t1,g0:t2}"></div>
            <div :class="{group1:t1,g1:t2}">
                <div class="basic b1"></div>
                <div class="basic b2"></div>
                <div class="basic b3"></div>
            </div>
            <div :class="{group2:t1,g2:t2}">
                <div class="basic b4"></div>
                <div class="basic b5"></div>
                <div class="basic b6"></div>
            </div>
            <div :class="{group3:t1,g3:t2}">
                <div class="basic b7"></div>
                <div class="basic b8"></div>
                <div class="basic b9"></div>
            </div>
        </div>
        </div>
   <transition>
    <div class="content" v-if="!check1">
        <header>
    <img src="../../assets/logo1.png" alt="" style="width: 50px; height: 50px; background-size: cover; margin-left: 50px;">
    <ul class="hline">
      <li><a href="index.html">进入主页</a></li>
      <li><a href="#" @click="gotop">回到顶端</a></li>
      <li><a href="myLogin.html">个人登录</a></li>
      <li><a href="deviceActive.html">设备激活</a></li>
    </ul>
        </header>
        <div class="bg">
            <div class="c_title">
                <img src="../../assets/logo.png" style="width:70px;height: 70px; background-size: cover;">
                <div>
                    <h1>项目名称</h1>
                    <h5>xiangmumingcheng</h5>
                </div>
            </div>
            <div class="c_bg"></div>
        </div>
        <div class="text">
            <p>近年来，慢性病成为越来越多人的主要健康风险，而慢性病主要包括了癌症、心血管疾病、糖尿病和慢性呼吸系统疾病，其中心脑血管疾病已成为导致中国居民的首位原因。同时，在时代与基于的推动下，大健康产业萌芽并成为热潮。在大健康产业的发展过程中，新一代技术如云计算、物联网、移动互联网等起到了不可或缺的作用。由此可知，基于物联网的心电监测系统存在意义重大。</p>
            <div></div>
        </div>
        <div class="text">
            <p>近年来，慢性病成为越来越多人的主要健康风险，而慢性病主要包括了癌症、心血管疾病、糖尿病和慢性呼吸系统疾病，其中心脑血管疾病已成为导致中国居民的首位原因。同时，在时代与基于的推动下，大健康产业萌芽并成为热潮。在大健康产业的发展过程中，新一代技术如云计算、物联网、移动互联网等起到了不可或缺的作用。由此可知，基于物联网的心电监测系统存在意义重大。</p>
            
        </div>
        <div class="text">
            <p>近年来，慢性病成为越来越多人的主要健康风险，而慢性病主要包括了癌症、心血管疾病、糖尿病和慢性呼吸系统疾病，其中心脑血管疾病已成为导致中国居民的首位原因。同时，在时代与基于的推动下，大健康产业萌芽并成为热潮。在大健康产业的发展过程中，新一代技术如云计算、物联网、移动互联网等起到了不可或缺的作用。由此可知，基于物联网的心电监测系统存在意义重大。</p>
        </div>
    </div>
   </transition>

</template>

<script>
// @ is an alias to /src
//import myIntroduction from '@/components/myIntroduction.vue'

export default {
  name: 'App',
  components: {
    
  },
  data(){
    return{
        check1:true,
        t1:true,
        t2:false,
    }
  },
  mounted() {
    window.scrollTo(0,0);
	window.addEventListener('scroll', this.windowScroll) //监听页面滚动
    },
  methods:{
     // 监听页面滚动 获取滚动条位置
     windowScroll() {
        let scrollTop =
	    window.pageYOffset ||
	    document.documentElement.scrollTop ||
	    document.body.scrollTop
	    console.log(scrollTop)
        if(scrollTop>100){
            this.t1 = false
            this.t2 = true
            this.check1=false
        }
        
    },
    gotop(){
        this.t1 = true
        this.t2 = false
        this.check1=true
    },
    godown(){
        this.t1 = false
        this.t2 = true
        this.check1=false
    }
 },
   
    unmounted() {
    window.removeEventListener("scroll", this.windowScroll);//销毁滚动事件
}
}
</script>

<style scoped lang="scss">

.v-enter-active{
    opacity: 0;
    transition: opacity 2s;
  }

  .v-enter-to{
    opacity: 1;
  }
  .v-leave-active{
    transition: opacity 2s;
  }
  .v-leave-to{
    opacity: 0;
  }

header{
  position: absolute;
  top: 0;
  position: sticky;
    width: 100%;
    height: 48px;
    background-color: rgb(34, 71, 117);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    li{
        list-style: none;
    }
    .hline{
        margin-right: 50px;
        width: 40%;
        height: 30px;
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    a{
        text-decoration: none;
        font-size: small;
        color:#fff;
        letter-spacing: 1px;
        width: 100px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a:hover{
        background-color: rgb(63, 92, 128);
  
    }
}


.introPage{
    width: 100%;
    height: 200%;
    min-width: 1100px;
    min-height: 700px;
    //这里设置最小宽度和最大宽度是为了使页面窗口被拉伸缩小时，页面中的div不会重叠在一起。
    position: relative;
    overflow:hidden;
}
.title{
    width: 500px;
    height: 390px;
    position: absolute;
    left: 6%;
    top:113px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .box1{
        display: flex;
        justify-content: space-around;
        .icon{
            width: 70px;
            height: 70px;
            margin-top: 5px;
            background-size: cover;
        }
        .pro_name{
            font-size: 28px;
            color: white;
            h1{
                letter-spacing: 20px;
            }
            h5{
             letter-spacing: 10px;
            }
    
        }
    }
    .nav ul{
        padding-left: 60px;
        width: 200px;
        height: 200px;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        a{
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 10px;
        }
    }

}

.show_Picture{
    width: 500px;
    height: 200%;
    position: absolute;
    top:0;
    right: 0;
    .basic{
    width: 200px;
    height: 380px;
    background-color: #ffffff76;
    border-radius: 10px;
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.312);
    margin: 15px;
    }
    .g0,.g1,.g2,.g3,.group0,.group1,.group2,.group3{
        position: absolute;
        transition: all 1s ease-in;
    }
    .group0,.group1 div,.group2 div,.group3 div{
        background-size: cover;
    }
    .group0{
        top: 250px;
        right: 540px;
        background-image: url("../../assets/main/i3.png");
    }
    .group1{
        right: 320px;
        top:-200px;

        .b1{
            background-image: url("../../assets/main/i2.png");
            background-size: cover;
        }
        .b2{
            background-image: url("../../assets/main/i5.png");
            background-size: cover;
            
        }
        .b3{
            background-image: url("../../assets/main/i1.png");
            background-size: cover;
        }
    }
    .group2{
        top:-320px;
        right: 100px; 

        .b4{
            background-image: url("../../assets/main/i1.png");
            background-size: cover;
        }
        .b5{
            background-image: url("../../assets/main/i4.png");
            background-size: cover;
            
        }
        .b6{
            background-image: url("../../assets/main/i6.png");
            background-size: cover;
        }
    }
    .group3{
        top:-430px;
        right: -120px;
        .b7{
            background-image: url("../../assets/main/i1.png");
            background-size: cover;
        }
        .b8{
            background-image: url("../../assets/main/i7.png");
            background-size: cover;
            
        }
        .b9{
            background-image: url("../../assets/main/i2.png");
            background-size: cover;
        }
    } 
    .g0{
        opacity: 0;
        background-image: url("../../assets/main/i3.png");
    }
    .g1{
        right: 320px;
        top:-1200px;
        .b1{
            background-image: url("../../assets/main/i2.png");
            background-size: cover;
        }
        .b2{
            background-image: url("../../assets/main/i5.png");
            background-size: cover;
            
        }
        .b3{
            background-image: url("../../assets/main/i1.png");
            background-size: cover;
        }
    }
    .g2{
        top:820px;
        right: 100px;
        opacity: 0;
        .b4{
            background-image: url("../../assets/main/i1.png");
            background-size: cover;
        }
        .b5{
            background-image: url("../../assets/main/i4.png");
            background-size: cover;
            
        }
        .b6{
            background-image: url("../../assets/main/i6.png");
            background-size: cover;
        }

    }
    .g3{
        top:-1230px;
        right: -120px;
        .b7{
            background-image: url("../../assets/main/i1.png");
            background-size: cover;
        }
        .b8{
            background-image: url("../../assets/main/i7.png");
            background-size: cover;
            
        }
        .b9{
            background-image: url("../../assets/main/i2.png");
            background-size: cover;
        }
    }
}

.content{
    width: 100%;
    min-width: 1100px;
    background-color: #fff;
    position: absolute;
    top:0px;
    .bg{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 350px;
        .c_title{
            width: 50%;
            height: 100%;
        }
        .c_bg{
            width: 50%;
            height: 100%;
            border-radius:175px 0 0 175px ;
            box-shadow:100px 0px 50px #ffffff inset;
            background: url('../../assets/introduction/ecg7.jpg') center;
            background-size: cover;
        }
        
    }
    .text{
        margin: auto;
        margin-top:30px;
        width: 90%;
        height: 400px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        div{
            width: 40%;
            height: 90%;
            background: url('../../assets/introduction/ecg1.jpg') center;
            background-size: cover;
        }
        p{
            width: 40%;
            letter-spacing: 1px;

        }
    }
    
}
</style>
