<template>
  <header id="t1">
    <img src="../../assets/logo.png" alt="" style="width: 40px; height: 40px; background-size: cover; margin-left: 30px;">
    <from action="" class="parent">
      <input type="text" class="input" placeholder="请输入">
      <div class="search"></div>
    </from>
    <ul class="hline">
      <li><router-link to="/">主  页</router-link></li>
      <li><a href="introduction.html">项目介绍</a></li>
      <li><router-link to="/ecgTest">心电测试</router-link></li>
      <li class="btli">
        <a>设备管理<div class="triangle"></div></a>
        <ul class="droplist">
          <li><a href="deviceActive.html">设备激活</a></li>
          <li><router-link to="/deviceStatus">设备状态</router-link></li>
          <li><router-link to="/history">历史记录</router-link></li>
        </ul>
      </li>

      <li class="btli">
        <div class="photo"><img :src="photo" alt="" style="width:30px; height: 30px; background-size: cover;"></div>
        <ul class="droplist">
          <li><router-link to="/personalCenter" >个人中心</router-link></li>
          <li><a>退出登录</a></li>
          <!-- 退出登录功能没实现 -->
        </ul>
      </li>
    </ul>
    
  </header>
  <div class="main">
    <router-view/>
  </div>

</template>


<script>
// @ is an alias to /src


export default {
  name: 'App',
  components: {
  },
  data(){
    return{
      photo:require('../../assets/admin.png'),
    }
  },
  /* 没mounted前，页面不渲染主页 */
  mounted(){
    this.$router.push({
      path:"/"
    })
    console.log('hhh')
  }
  
}
</script>

<style lang="scss">
*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
header{
  position: absolute;
  top: 0;
  left: calc(50% - 500px);
  position: sticky;
    width: 1000px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 0 0 11px 11px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    z-index: 999;
    
}

.search{
  width: 20px;
  height: 20px;
  background-image: url('../../assets/search.png');
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  position: absolute;
  left: 10px;
}

.parent{
  width: 350px;
  height: 30px;
  background-color: #fbfbfb;
  margin-left: 20px;
  flex:1 1 auto;
  display: flex;
  align-items: center;
  position: relative;

}

.input{
  width: 250px;
  height: 28px;
  border: 1px solid #659FE2;
  border-radius: 8px;
  padding-left: 35px;
  outline: none;
  float: left;
}
.hline{
  width: 50%;
  height: 30px;
  background-color: #fff;
  flex:1 2 auto;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.triangle{
  width: 0;
  height: 0;
  border-top: 5px solid #ccc;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

a{
  text-decoration: none;
  font-size: small;

  color:rgb(34, 71, 117);
  letter-spacing: 1px;
  width: 100px;
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  &.router-link-exact-active {
    font-weight: 700;
    }
}

a:hover{
  background-color: #daedfd;
  
}

.photo{
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.droplist{
  display: none;
}

.btli:hover .droplist{
  display: block;
  position: absolute;

}
.main{
  width: 1000px;
  min-height: 100%;
  margin: auto;
  margin-top:10px ;
  padding-top: 40px;
  position: relative;
  background-color: #ffffffd4;
}
/* 
nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
} */
</style>
