<template>
    <div class="detail">
        <div class="ecg">
          <div class="ecgImg">
            <span>心电图</span>
            <img :src="ecgImg" alt="" >
        </div>
          <div class="information">
            <el-descriptions title="信息" size="large" class="t1" :column="1"><br/>
            <el-descriptions-item label="测量时间:">{{time}}</el-descriptions-item>
            <el-descriptions-item label="用户:">{{user.name}}</el-descriptions-item>
            <el-descriptions-item label="年龄:">{{user.age}}</el-descriptions-item>
            <el-descriptions-item label="医生:">{{doctor.name}}</el-descriptions-item>
            <el-descriptions-item label="医生电话:">{{doctor.phone}}</el-descriptions-item>
            <el-descriptions-item label="设备名称:">{{deviceName}}</el-descriptions-item>
          </el-descriptions>
          </div>
        </div>
        <div class="result">{{result }}</div>
    </div>
</template>

<script>
export default {
  name: "historyDetail",
  data(){
   return{
          time:'2023-5-23',
          ID:1,
          ecgImg:require('../../../assets/0.png'),
          user:{
            name:'张三',
            age:'56',
          },
          doctor:{
            name:'医生',
            phone:'1234'
          },
          deviceName:'第一个设备',
          result:'心电检测结果正常，心脏电活动正常，没有异常波形或律动。请继续保持良好的作息和生活习惯！'
   }
  },
  
};
</script>

<style scoped lang="scss">
.detail{
    width: 90%;
    margin: auto;
    padding: 20px;
    .ecg{
      width: 100%;
      display: flex;
      justify-content: space-between;
      .ecgImg{
        width: 59%;
        height: 340px; 
        padding: 10px 0 10px 0;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span{
            width: 90%;
            font-weight: 700;
            margin-bottom: 10px;
        }
        img{
            width: 90%;
            height: 90%;
            background-color: #fff;
        }
      }
      .information{
        background-color: #fff;
        width: 35%;
        padding: 15px;
      }
    }
    .result{
      background-color: #fff;
      width: 95%;
      margin-top: 20px;
      min-height: 30px;
      padding: 20px;
    }
}
.t1{
  font-size: 23px;
  width: 90%;
  height: 100%;
  padding: 14px 10px 10px 10px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
</style>