<template>
    <div class="history">
      <div class="old">
          <h2>历史记录</h2>
            <el-table :data="tables" height="250" style="width: 100%; margin-top:30px" :default-sort="{ prop: 'date', order: 'descending' }">
            <el-table-column type="index" width="30" />
            <el-table-column prop="date" label="日期"  width="130" sortable ></el-table-column>
            <el-table-column prop="deviceName" label="设备名" width="150"></el-table-column>
            <el-table-column prop="result" label="测试结果"  width="100"></el-table-column>
            <el-table-column prop="ECGimg" label="心电图"  width="150"></el-table-column>
            <el-table-column align="right">
              <template #header>
                <el-input v-model="search" size="small" placeholder="Type to search" />
              </template>
            </el-table-column>
          </el-table>
      </div>
    </div>
        
  </template>
  
  
  <script>
  export default {
    name: "historyTable",
    data(){
     return{
      search: '',
      tableData: [
        {date: '2016-05-02', deviceName: 'device000001', result: '正常',ECGimg:'无'},
        {
          date: '2016-05-02', 
          deviceName: 'device000002', 
          result: '正常',
          ECGimg:'无'
        },
        {
          date: '2016-05-02', 
          deviceName: 'device000003', 
          result: '正常',
          ECGimg:'无'
        },
        ],
     }
    },
    computed:{
      tables () {
          const search = this.search
          if (search) {
            return this.tableData.filter(data => {
              return Object.keys(data).some(key => {
                return String(data[key]).toLowerCase().indexOf(search) > -1
              })
            })
          }
          return this.tableData
        }
  },
    
  };
  
  </script>
  
  <style scoped lang="scss">
  .history{
    width: 100%;
    padding-top: 15px;
    
  }
  .old,.h_detail{
      width: 90%;
      background-color: #fff;
      margin: auto;
      margin-top: 30px;
      padding: 20px;
  }
  </style>