<template>
    <header id="t1">i am header
      <from action="" class="parent">
        <input type="text" class="input" placeholder="请输入">
        <div class="search"></div>
      </from>
      <ul class="hline">
        <li><a href="introduction.html">项目介绍</a></li>

        <li class="btli">
          <router-link to="/">设备管理</router-link>
          <ul>
            <li><a href="deviceActive.html" class="droplist">设备激活</a></li>
            <li><router-link to="/deviceStatus" class="droplist">设备状态</router-link></li>
            <li><router-link to="/" class="droplist">历史记录</router-link></li>
          </ul>
        </li>

        <li class="btli">
          <router-link to="/">账号管理</router-link>
          <ul>
            <li><router-link to="/personalCenter" class="droplist">个人中心</router-link></li>
            <li><router-link to="/" class="droplist">退出登录</router-link></li>
          </ul>
        </li>
        <li><router-link to="/home">主页</router-link></li>
      </ul>
    </header>
</template>

<script>
export default {
  name: 'myHeader',
  props: {
    msg: String
  }
}
</script>

<style scoped lang="scss">
*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
header{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 0 0 11px 11px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    
    
}

.search{
  width: 20px;
  height: 20px;
  background-image: url('../../../../public/favicon.ico');
  background-repeat: no-repeat;
  float: left;
  position: absolute;
  left: 10px;
}

.parent{
  width: 350px;
  height: 30px;
  background-color: #fbfbfb;
  flex:1 1 auto;
  display: flex;
  align-items: center;
  position: relative;

}

.input{
  width: 250px;
  height: 28px;
  border: 1px solid #659FE2;
  border-radius: 8px;
  padding-left: 35px;
  outline: none;
  float: left;
}
.hline{
  width: 50%;
  height: 40px;
  background-color: #fff;
  flex:1 2 auto;
  display: flex;
  justify-content:space-around;
  align-items: baseline;
}

.droplist{
  display: none;
}

a{
  text-decoration: none;
  font-size: small;

  color: #1E65B9;
  width: 100px;
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  &.router-link-exact-active {
      color: #42b983;
    }
}

a:hover{
  background-color: #daedfd;
  
}
.btli:hover .droplist{
  display: flex;
  align-items: center;
  justify-content: center;

}
</style>