<template>
    <!-- 初步设想，用一个div框住login和register，利用overflow:hidden;或者改变长度属性来实现风琴页效果，里面的内容框起来，v-if来隐藏 -->
    <div class="nav">
        <ul>
            <a href="index.html"><li class="home"></li></a>
            <a href="introduction.html"><li class="intro"></li></a>
        </ul>
    </div>
    <div class="main">
        <div :class="{register:t1,R_change:t2}" @click="changeRegister">
            <h2 v-if="!showr">用户注册</h2>
            <div class="content_r" v-if="showr">
                <h2>用户注册</h2>
                <div class="box1">
                    <span>登录身份</span>
                    <select name="identity" id="">
                        <option value="用户">用户</option>
                        <option value="医生">医生</option>
                    </select>
                </div>
                <div class="box1">
                    <span>用户名</span>
                    <input type="text" placeholder="name" class="text" v-model="registerDate.name">
                </div>
                <div class="box1">
                    <span>密码</span>
                    <input type="password" placeholder="password" class="text" v-model="registerDate.password">
                </div>
                <div class="box1">
                    <span>再次输入密码</span>
                    <input type="password" placeholder="password" class="text" v-model="registerDate.password_again">
                </div>
                <button  @click="register_btn">注册</button>
                <div class="box2">
                    <input type="radio" class="check">遵守隐私协议和相关规定
                </div>
            </div>
        </div>
        <div :class="{login:t2,L_change:t1}" @click="changeLogin">
            <h2 v-if="!show">用户登录</h2>
            <div class="content" v-if="show">
                <h2>用户登录</h2>
                <div class="box1">
                    <span>登录身份</span>
                    <select name="identity" id="">
                        <option value="用户">用户</option>
                        <option value="医生">医生</option>
                    </select>
                </div>
                <div class="box1">
                    <span>用户名</span>
                    <input type="text" placeholder="name" class="text" v-model="loginDate.name">
                </div>
                <div class="box1">
                    <span>密码</span>
                    <input type="password" placeholder="password" class="text" v-model="loginDate.password">
                </div>
                    <button @click="login_btn">登录</button>
                <div class="box2">
                    <input type="radio" class="check">遵守隐私协议和相关规定
                </div>
            </div>
            
        </div>
    </div>
    

</template>

<script>
import { reactive } from 'vue';
import router from "../main/router/index.js"

export default {
  name: 'App',
  data(){
   return{
    show:true,
    showr:false,
    t1:false,
    t2:true,
   } 
  },
methods:{
    changeRegister(){
        this.show = false;
        this.showr=true;
        this.t1=true;
        this.t2 = false;
    },
    changeLogin(){
        this.show = true;
        this.showr=false;
        this.t2=true;
        this.t1 = false;
    }

},
setup() {
    let loginDate = reactive({
        name:"",
        password:"",
    });
    let registerDate = reactive({
        name:"",
        password:"",
        password_again:"",
    })
    let login_btn=()=>{
        if(!loginDate.name || !loginDate.password){
            alert("账号或密码不能为空");
            return;
        
        }
        router.push('/ecgTest')
        /* 这里跳转后需要刷新页面才能显示 */
    };
    let register_btn=()=>{
        if(!registerDate.name || !registerDate.password || !registerDate.password_again){
            alert("账号或密码不能为空");
            return;
        }
        else if(registerDate.password != registerDate.password_again){
            alert("两次输入的密码不同");
            return;
        }
        router.push('/ecgTest')
        /* 这里跳转后需要刷新页面才能显示 */
    }
    return{
        loginDate,
        login_btn,
        registerDate,
        register_btn,
    };
  
}
}
</script>

<style scoped lang="scss">
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav{
    background-color: #fff;
    position: absolute;
    left: 0;
    top:35%;
    border-radius:0 7px 7px 0;
    ul{
        width: 40px;
        height:180px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        a{
            li{
                width: 25px;
                height: 25px;
            }
            .home{
                background-image: url('../../assets/left/主页.png');
                background-size: cover;
            } 
            .intro{
                background-image: url('../../assets/left/项目介绍.png');
                background-size: cover;
            }          
        }
    }

}
.main{
    margin: auto;
    width: 450px;
    height: 550px;
    position: relative;
    overflow: hidden;
}

.R_change{
    width: 100px;
    height:510px;
    background-color: #ffffff14;
    backdrop-filter:blur(20px);
    border-radius:15px ;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.307) ;
    position: absolute;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
    h2{
        width: 30px;
        color: #fff;
        letter-spacing: 20px;
        padding-right:20px ;
    }
}
.register{
    width: 380px;
    height: 510px;
    background-color: #ffffff31;
    box-shadow:-10px 10px 20px rgba(0, 0, 0, 0.462);
    backdrop-filter:blur(20px);
    border-radius:15px ;
    position: absolute;
    left:40px;
    transition: all 0.5s ease-in;
}

.L_change{
    width: 100px;
    height: 440px;
    margin-top:50px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow:-5px 5px 10px rgba(0, 0, 0, 0.207) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    transition: all 0.5s ease-in;
    h2{
        width: 30px;
        color: #6672D0;
        letter-spacing: 20px;
    }
}
.login{
    width: 380px;
    height: 450px;
    margin-top:30px;
    background-color: #fff;
    box-shadow:-10px 10px 20px rgba(0, 0, 0, 0.307) ;
    border-radius: 15px;
    position: absolute;
    right: 0;
    transition: all 0.5s ease-in;
}
.content_r{
    width: 380px;
    height: 510px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2{
        margin-top:40px ;
        letter-spacing: 10px;
    }
    span{
        font-size: 14px;
        letter-spacing: 3px;
    }
    select{
        width: 200px;
        height: 30px;
        border-radius: 12px;
        padding-left:10px;
        border: 1px solid #ffffff;
        background-color: transparent;
        color: #fff;
    }
    .text{
        width: 185px;
        height: 26px;
        border-radius: 12px;
        padding-left: 10px;
        border: 1px solid #ffffff;
        background-color: transparent;
        color: #fff;
    }
    input::placeholder{  /* Internet Explorer 10-11 */ 
            color:rgba(255, 255, 255, 0.596);
        }
    input:focus ,select:focus{
        outline: 1px solid #ffffff;
    } 
    button{
        width: 160px;
        height: 35px;
        background-color: #ffffff;
        margin: 20px;
        color: #6672D0;
        letter-spacing: 20px;
        text-indent: 20px;
        text-align: center;
        border-radius: 8px;
        border: 1px solid #ffffff;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.303);
    }
    button:hover{
        background-color: hsl(233, 100%, 91%);
    }
    
}
.box2{
    font-size: smaller;
    margin-bottom: 10px;
}

.content{
    width: 380px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h2{
        margin-top:40px ;
        color: #6672D0;
        letter-spacing: 10px;
    }
    span{
        color: #456ED8;
        font-size: 14px;
        letter-spacing: 3px;
    }
    select{
        width: 200px;
        height: 30px;
        border-radius: 12px;
        padding-left:10px;
        border: 1px solid #6672D0;
        color: #6672D0;
    }
    .text{
        width: 185px;
        height: 26px;
        border-radius: 12px;
        padding-left: 10px;
        border: 1px solid #6672D0;
    }
    input:focus ,select:focus{
        outline: 1px solid #6672D0;
    } 
    button{
        width: 160px;
        height: 35px;
        background-color: #4f74f9c1;
        margin: 20px;
        color: white;
        letter-spacing: 20px;
        text-indent: 20px;
        text-align: center;
        border-radius: 8px;
        border: 1px solid #ffffff;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.303);
    }
    button:hover{
        background-color: #6672D0;
    }
}

.box1{
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
</style>