<template>
  <div>
    <myHeader></myHeader>
  </div>
</template>

<script>
// @ is an alias to /src
import myHeader from '../components/myHeader.vue'

export default {
  name: 'AboutView',
  components: {
    myHeader
  }
}
</script>

<style>
div{
  width: 100%;
  height: 100%;
  background-color: #1E65B9;
}
</style>
