<template>
    <div class="DA">
      <div class="introduce">
        <div class="title">
          <el-descriptions title="心电设备管理" size="large" class="t1"><br/>
            <el-descriptions-item label="设备用户:">{{name}}</el-descriptions-item>
            <el-descriptions-item label="用户ID:">{{userID}}</el-descriptions-item>
          </el-descriptions>
        </div>
        <div class="details">
          <el-descriptions title="User Info" :column="1" class="t1">
            <el-descriptions-item label="Username">kooriookami</el-descriptions-item>
            <el-descriptions-item label="Telephone">18100000000</el-descriptions-item>
            <el-descriptions-item label="Place">Suzhou</el-descriptions-item>
            <el-descriptions-item label="Remarks">
              <el-tag size="small">School</el-tag>
            </el-descriptions-item>
            <el-descriptions-item label="Address"
      >No.1188, Wuzhong Avenue, Wuzhong District, Suzhou, Jiangsu
      Province</el-descriptions-item>
          <el-descriptions-item label="Username">kooriookami</el-descriptions-item>
            <el-descriptions-item label="Telephone">18100000000</el-descriptions-item>
            <el-descriptions-item label="Place">Suzhou</el-descriptions-item>
  </el-descriptions>
        </div>
      </div>
      <div class="state">
        <div class="time">
          <h3>设备在线时长</h3>
          <div id="time_content"  :style="{ width: '100%', height: '250px' }"></div>
        </div>
        <div class="history">
          <h3>心电异常记录</h3>
          <div id="history_content"  :style="{ width: '100%', height: '250px' }"></div>
        </div>
      </div>
    </div>
</template>

<script>
// @ is an alias to /src
import * as echarts from 'echarts'
import { onMounted } from "vue";

export default {
  name: 'deviceStatus',
  data(){
    return{
      name:'王五',
      userID:'user000001',
    }
  },
  setup() {
    /// 声明定义一下echart
    let echart = echarts;

    onMounted(() => {
      initChart();
    });
	
    // 基础配置一下Echarts
    function initChart() {
      let chart_time = echart.init(document.getElementById("time_content"));
      let chart_history = echart.init(document.getElementById("history_content"));
      // 把配置和数据放这里
      chart_time.setOption({
        xAxis: {
          type: "category",
          data: [
            "一月",
            "二月",
            "三月",
            "四月",
            "五月",
            "六月",
            "七月",
            "八月",
            "九月",
            "十月",
            "十一月",
            "十二月"
          ]
        },
        tooltip: {
          trigger: "axis"
        },
        yAxis: {
          type: "value"
        },
        series: [
          {
            data: [
              820,
              932,
              901,
              934,
              1290,
              1330,
              1320,
              801,
              102,
              230,
              4321,
              4129
            ],
            type: "line",
            smooth: true
          }
        ]
      });
      chart_history.setOption({
        xAxis: {
          type: "category",
          data: [
            "一月",
            "二月",
            "三月",
            "四月",
            "五月",
            "六月",
            "七月",
            "八月",
            "九月",
            "十月",
            "十一月",
            "十二月"
          ]
        },
        tooltip: {
          trigger: "axis"
        },
        yAxis: {
          type: "value"
        },
        series: [
          {
            data: [
              820,
              932,
              901,
              934,
              1290,
              1330,
              1320,
              801,
              102,
              230,
              4321,
              4129
            ],
            type: "line",
            smooth: true
          }
        ]
      });
      /* window.onresize = function() {
        //自适应大小
        chart.resize();
      }; */
    }

    return { initChart };
  }
 
}
</script>

<style scoped lang="scss">
.t1{
  font-size: 23px;
  width: 100%;
  height: 100%;
  padding: 20px 10px 10px 10px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.DA{
  width: 95%;
  padding-top: 30px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  .introduce{
    width: 48%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title{
      width: 100%;
      height: 160px;
      background-color: #fff;
      
    }
    .details{
      width: 100%;
      height: 410px;
      background-color: #fff;

    }
  }
  .state{
    width: 48%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .time,.history{
      padding-left: 10px;
      width: 100%;
      height: 290px;
      background-color: #fff;
    }
  }
}
</style>