<template>
    <historyDetail></historyDetail>
    <historyTable></historyTable>
</template>

<script>
import historyTable from '../components/historyTable.vue'
import historyDetail from '../components/historyDetail.vue'

export default {
  name: "EcgTestView",
  components: {
    historyTable,
    historyDetail
  },
  data(){
   return{
          time:'2023-5-23',
          ID:1,
          ecgImg:require('../../../assets/0.png'),
          user:{
            name:'张三',
            age:'56',
          },
          doctor:{
            name:'医生',
            phone:'1234'
          },
          deviceName:'第一个设备',
          result:'心电检测结果正常，心脏电活动正常，没有异常波形或律动。请继续保持良好的作息和生活习惯！'
   }
  },
  
};
</script>

<style scoped lang="scss">
.detail{
    width: 90%;
    margin: auto;
    padding: 20px;
    .ecg{
      width: 100%;
      display: flex;
      justify-content: space-between;
      .ecgImg{
        width: 59%;
        height: 340px; 
        padding: 10px 0 10px 0;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span{
            width: 90%;
            font-weight: 700;
            margin-bottom: 10px;
        }
        img{
            width: 90%;
            height: 90%;
            background-color: #fff;
        }
      }
      .information{
        background-color: #fff;
        width: 35%;
        padding: 15px;
      }
    }
    .result{
      background-color: #fff;
      width: 95%;
      margin-top: 20px;
      min-height: 30px;
      padding: 20px;
    }
}
</style>