<template>
  <div class="h_main">
    <historyTable></historyTable>
    <div class="item" v-for="item in datas" :key="item.ID">
      <div class="h_detail">
        <div class="ecg">
          <img :src="item.ecgImg" alt=""  class="ecgImg">
          <div class="information">
            <el-descriptions title="信息" size="large" class="t1" :column="1"><br/>
            <el-descriptions-item label="测量时间:">{{item.time}}</el-descriptions-item>
            <el-descriptions-item label="用户:">{{item.user.name}}</el-descriptions-item>
            <el-descriptions-item label="年龄:">{{item.user.age}}</el-descriptions-item>
            <el-descriptions-item label="医生:">{{item.doctor.name}}</el-descriptions-item>
            <el-descriptions-item label="医生电话:">{{item.doctor.phone}}</el-descriptions-item>
            <el-descriptions-item label="设备名称:">{{item.deviceName}}</el-descriptions-item>
          </el-descriptions>
          </div>
        </div>
        <div class="result">{{ item.result }}</div>
      </div>
    </div>
  </div>
      
</template>


<script>
import historyTable from '../components/historyTable.vue'

export default {
  name: "HistoryView",
  components: {
    historyTable,
  },
  data(){
   return{
    search: '',
    tableData: [
      {date: '2016-05-02', deviceName: 'device000001', result: '正常',ECGimg:'无'},
      {
        date: '2016-05-02', 
        deviceName: 'device000002', 
        result: '正常',
        ECGimg:'无'
      },
      {
        date: '2016-05-02', 
        deviceName: 'device000003', 
        result: '正常',
        ECGimg:'无'
      },
      ],
      datas:[
        {
          time:'2023-5-23',
          ID:1,
          ecgImg:require('../../../assets/0.png'),
          user:{
            name:'张三',
            age:'56',
          },
          doctor:{
            name:'医生',
            phone:'1234'
          },
          deviceName:'第一个设备',
          result:'测试文字'
      },
      {
          time:'2023-5-23',
          ID:1,
          ecgImg:require('../../../assets/1.png'),
          user:{
            name:'张三',
            age:'56',
          },
          doctor:{
            name:'医生',
            phone:'1234'
          },
          deviceName:'第一个设备',
          result:'测试文字'
      }]
   }
  },
  computed:{
    tables () {
        const search = this.search
        if (search) {
          return this.tableData.filter(data => {
            return Object.keys(data).some(key => {
              return String(data[key]).toLowerCase().indexOf(search) > -1
            })
          })
        }
        return this.tableData
      }
},
  
};

</script>

<style scoped lang="scss">
.h_main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item{
  width: 90%;
    margin-top: 30px;
    padding: 20px;
  .h_detail{
    width: 100%;
    height: 500px;
    background-color: #fff;
    margin-bottom: 30px;
    padding: 15px;
    .ecg{
      width: 100%;
      display: flex;
      justify-content: space-between;
      .ecgImg,.information,.result{
        border: 1px solid rgb(202, 202, 202);
        border-radius: 5px;
      }
      .ecgImg{
        width: 59%;
        height: 300px; 
      }
      .information{
        width: 39%;
        border: 1px solid rgb(202, 202, 202);

      }
    }
    .result{
      width: 95%;
      margin-top: 20px;
      min-height: 30px;
      padding: 20px;
    }
  }
}
.t1{
  font-size: 23px;
  width: 90%;
  height: 100%;
  padding: 14px 10px 10px 10px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
</style>