<template>
  <div class="home">
<!--<img alt="Vue logo" src="../assets/logo.png"> -->
    <div class="content">

    </div>
    <div class="content">

  </div>
  <div class="content">
  </div>
  <div class="content">
  </div>
  <div class="content">

  </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'HomeView',
  components: {
  },
}
</script>

<style scoped leng="scss">
.home{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.content{
    width: 800px;
    height: 400px;
    border: 1px solid black;
  }
</style>
