<template>
    <div class="PC">
      <div class="id">
        <div class="basic">
          <div class="photo"></div>
          <div class="box">
            <span>姓名</span>
            <div>{{ descriptions.name }}</div>
          </div>
          <div class="box">
            <span>身份</span>
            <div>{{ descriptions.identity }}</div>
          </div>
          <div class="box">
            <span>设备名</span>
            <div>{{ descriptions.deviceName }}</div>
          </div>
        </div>
        <div class="detail">
          <el-descriptions  :column="2" size="large" title="个人信息" border>
            <el-descriptions-item
              label="用户号"
              label-align="left"
              align="center"
              label-class-name="my-label"
              class-name="my-content"
              width="90px"
              >
              {{ descriptions.userID }}</el-descriptions-item>
            <el-descriptions-item label="性别" label-align="left" align="center"  width="63px"
              >{{descriptions.sex}}</el-descriptions-item
            >
            <el-descriptions-item label="年龄" label-align="left" align="center"
              >{{descriptions.age}}</el-descriptions-item
            >
            <el-descriptions-item label="身份证号" label-align="left" align="center"
              >{{descriptions.id}}</el-descriptions-item
            >
            <el-descriptions-item label="电话号码" label-align="left" align="center"
              >{{descriptions.phone}}</el-descriptions-item
            >
            <el-descriptions-item label="邮箱" label-align="left" align="center">
              {{descriptions.email}}
            </el-descriptions-item>
            <el-descriptions-item label="地址" label-align="left" align="center"
              >{{descriptions.addr}}</el-descriptions-item
            >
  </el-descriptions>
        </div>
      </div>
      <div class="old">
        <span>心电检测历史记录</span>
          <el-table :data="tables" height="250" style="width: 100%; margin-top:30px" :default-sort="{ prop: 'date', order: 'descending' }">
          <el-table-column type="index" width="30" />
          <el-table-column prop="date" label="日期"  width="130" sortable ></el-table-column>
          <el-table-column prop="deviceName" label="设备名" width="150"></el-table-column>
          <el-table-column prop="result" label="测试结果"  width="100"></el-table-column>
          <el-table-column prop="ECGimg" label="心电图"  width="150"></el-table-column>
          <el-table-column align="right">
            <template #header>
              <el-input v-model="search" size="small" placeholder="Type to search" />
            </template>
          </el-table-column>
          
          
        </el-table>
      </div>

  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: 'personalCenter',
  components: {
  },
  data(){
    return{
      search: '',
      descriptions:{
          name:'张三',
          deviceName:'device000001',
          identity:'用户',
          userID:'user00001',
          sex:'女',
          age:'34',
          id:'xxxxxxxxxxxxxxxxxx',
          phone:'11111111111',
          email:'2222222222@qq.com',
          addr:'xx省xx市xx区xx街道'
      },
      
      tableData: [
      {date: '2016-05-02', deviceName: 'device000001', result: '正常',ECGimg:'无'},
      {
        date: '2016-05-02', 
        deviceName: 'device000002', 
        result: '正常',
        ECGimg:'无'
      },
      {
        date: '2016-05-02', 
        deviceName: 'device000003', 
        result: '正常',
        ECGimg:'无'
      },
      ]
    }
  },
  computed:{
    tables () {
        const search = this.search
        if (search) {
          return this.tableData.filter(data => {
            return Object.keys(data).some(key => {
              return String(data[key]).toLowerCase().indexOf(search) > -1
            })
          })
        }
        return this.tableData
      }
}
}
</script>

<style scoped lang="scss">
.PC{
  width: 100%;
  padding-top: 15px;
  
}

.id{
  width:98%;
  height: 360px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  .basic{
    width: 32%;
    height: 325px;
    background-color: #ffffff;
    margin: 0 30px 0 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 25px;
    .photo{
      width: 100px;
      height: 100px;
      border: 1px solid black;
      border-radius: 50px;
      margin: 20px 0 10px 0;
    }
    .box{
      width: 70%;
      height: 20px;
      /* border: 1px solid black; */
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      div{
        width: 60%;
        height: 30px;
        background-color: #f5f7fa;
        border-radius: 3px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        font-size: 14px;
      }
    }
    
  }
  .detail{
    width: 52%;
    height: 310px;
    padding: 40px 20px 0px 20px;
    background-color: #fff;
    
  }
  
}
span{
      font-weight: 700;
      color: #606266;
    }
.old{
    width: 90%;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    span{
      width: 100%;
      border-radius: 5px;
      font-size: 16px;
      letter-spacing: 5px;
      padding: 10px;
      background-color: #f5f7fa;
    }
  }

</style>