<template>
    <div class="nav">
        <ul>
            <a href="index.html"><li class="home"></li></a>
            <a href="introduction.html"><li class="intro"></li></a>
        </ul>
    </div>
    <div :class="{main:t1,M_change:t2}">
        <div :class="{note:t1,N_change:t2}" @click="changeNote">
            <h2 v-if="show">注意事项</h2>
            <transition>
                <div class="content" v-if="!show">
                <p>WIFI名称在设备的背面<br><br>

                    密码格式为：字母大小写+数字<br><br><br>



                    如有问题请致电xxx-xxxx
                </p>
            </div>
            </transition>           
        </div>
            <div class="deviceActive">
                <h2>设备激活</h2>
                <div class="box1">
                    <span>WIFI名称</span>
                    <input type="text" placeholder="name" class="text">
                </div>
                <div class="box1">
                    <span>密码</span>
                    <input type="password" placeholder="password" class="text">
                </div>
                <div class="box2">
                    <a href="#"><button>登录</button></a>
                    <button>重置</button>
                </div>
                <div style="font-size: smaller;margin-bottom: 10px;">
                    <input type="radio" class="check">遵守隐私协议和相关规定
                </div>
                
            </div>
        
    </div>
</template>

<script>
export default {
  name: 'App',
  data(){
   return{
    show:true,
    t1:false,
    t2:true,
   } 
  },
methods:{
    changeNote(){
        this.show = false;
        this.t1=true;
        this.t2 = false;
    },
    test(){
        this.show = true;
        this.t1=false;
        this.t2 = true;
    }

}
  
}
</script>

<style scoped lang="scss">
.v-enter-active,
.v-leave-active {
  transition: opacity 3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
li{
    list-style: none;
}
.main{
    margin: auto;
    width: 680px;
    height: 550px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
}
.M_change{
    margin: auto;
    width: 480px;
    height: 550px;
    position: relative;
    overflow: hidden;
}
.nav{
    background-color: #fff;
    position: absolute;
    left: 0;
    top:35%;
    border-radius:0 7px 7px 0;
    ul{
        width: 40px;
        height:180px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        a{
            li{
                width: 25px;
                height: 25px;
            }
            .home{
                background-image: url('../../assets/left/主页.png');
                background-size: cover;
            } 
            .intro{
                background-image: url('../../assets/left/项目介绍.png');
                background-size: cover;
            }          
        }
    }

}

.content{
    width: 200px;
    height: 200px;
}

.deviceActive{
    width: 380px;
    height: 450px;
    color: #ffffff;
    box-shadow:10px 10px 20px rgba(0, 0, 0, 0.307) ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right:30px;
    transition: all 0.5s ease-in;

    h2{
        margin-top:40px ;
        letter-spacing: 10px;
    }
    span{
        font-size: 14px;
        letter-spacing: 3px;
    }
    select{
        width: 200px;
        height: 30px;
        border-radius: 12px;
        padding-left:10px;
        border: 1px solid #ffffff;
        background-color: transparent;
        color: #fff;
    }
    .text{
        width: 185px;
        height: 26px;
        border-radius: 12px;
        padding-left: 10px;
        border: 1px solid #ffffff;
        background-color: transparent;
        color: #fff;
    }
    input::placeholder{  /* Internet Explorer 10-11 */ 
            color:rgba(255, 255, 255, 0.596);
        }
    input:focus ,select:focus{
        outline: 1px solid #ffffff;
    } 
    button{
        width: 80px;
        height: 35px;
        background-color: #ffffff;
        color: #6672D0;
        margin: 10px;
        letter-spacing: 10px;
        text-indent: 10px;
        text-align: center;
        border-radius: 8px;
        border: 1px solid #ffffff;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.303);
    }
    button:hover{
        background-color: hsl(233, 100%, 91%);
    }
    
}

.note{
    width: 300px;
    height: 300px;
    margin-top:80px ;
    background-color: #fff;
    border-radius: 15px 0 0 15px;
    box-shadow:-5px 5px 10px rgba(0, 0, 0, 0.207) ;
    position: absolute;
    right: 370px;
    transition: all 0.5s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

.N_change{
    width: 100px;
    height: 300px;
    margin-top:80px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow:-5px 5px 10px rgba(0, 0, 0, 0.207) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    transition: all 0.5s ease-in;
    h2{
        width: 30px;
        color: #6672D0;
        letter-spacing: 20px;
    }
}
.box1{
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box2{
    width: 200px;
    height: 60px;
}
</style>